allegro5
allegro5-devel
SDL2
SDL2-devel
SDL2-static
SDL2_image
SDL2_image-devel
SDL2_ttf
SDL2_ttf-devel
SDL2_mixer
SDL2_mixer-devel
SDL2_gfx
SDL2_gfx-devel
libcaca
libcaca-devel
SFML
SFML-devel
CSFML
CSFML-devel
autoconf
automake
boost
boost-devel
boost-graph
boost-math
boost-static
ca-certificates
clang
clang-analyzer
cmake
curl
elfutils-libelf-devel
gcc-c++
gcc
gdb
git
glibc-devel
glibc-locale-source
glibc
gmp-devel
ksh
langpacks-en
libconfig
libconfig-devel
libX11-devel
libXext-devel
libXrandr-devel
libXinerama-devel
libXcursor-devel
libXi-devel
libjpeg-turbo-devel
libtsan
llvm
llvm-devel
ltrace
make
meson
nasm
ncurses-devel
ncurses-libs
ncurses
net-tools
nc
ninja-build
openal-soft-devel
openssl-devel
patch
procps-ng
python3
python3-devel
rlwrap
ruby
strace
sudo
systemd-devel
tar
tcsh
tmux
tree
unzip
diffutils
valgrind
wget
which
xcb-util-image-devel
xcb-util-image
xz
zip
zsh
vim
cargo
rust
ghc
nodejs
php
php-devel
php-bcmath
php-cli
php-devel
php-gd
php-mbstring
php-mysqlnd
php-pdo
php-pear
php-pdo
php-xml
php-gettext-gettext
php-phar-io-version
php-theseer-tokenizer
libuuid
libuuid-devel
java-17-openjdk
java-17-openjdk-devel
bc